.DS_Store
.idea
*.log
tmp/


# Python
*.pyc
__pycache__/

# Data & working files
dataset_raw/
working_journal/
src/

# Files in semantic_attr
semantic_attr/bash/
semantic_attr/model/checkpoint_best.pt
semantic_attr/results/
semantic_attr/venv/

# IDE
.vscode/
.claude/

# OS
.DS_Store
