.DS_Store
.idea
*.log
tmp/


# Python
*.pyc
__pycache__/

# Data & working files
dataset_raw/
working_journal/
src/
wandb/

# Files in misengine
misengine/venv

# Files in misformer
misformer/bash/
misformer/model/checkpoint_best.pt
misformer/results/
misformer/venv/
misformer/wandb
misformer/EK_train*

# IDE
.vscode/
.claude/

# OS
.DS_Store
